@font-face {
    font-family: "Tilt Neon";
    src: url("assets/TiltNeon-Regular.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: 'Tilt Neon';
    color: white;
}

.blurslider {
    width: 100%;
    height: 100%;
    margin-top: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: 1s slide-up;

    backdrop-filter: blur(10px);
}


@keyframes slide-up {
    from {
        margin-top: 100%;
        height: 100%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}

.homepage {
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.greeting {
    width: 100%;
    height: 100%;

    flex: 5;
    margin: 5% 0% 0% 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

    opacity: 0;

    animation: 1s fade-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.welcome {
    margin: 0%;
    font-size: 110px;
}

.date {
    margin: 0%;
    font-size: 50px;

    opacity: 0;

    animation: 1s fade-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.links {
    margin: 0% 0% 10% 0%;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.link-wrapper {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
    box-sizing: border-box;
}

.link-wrapper::before {
    content: '';
    display: table;
    padding-top: 100%;
}

.link {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 18px #444444;

    opacity: 0;

    animation: 1s fade-in;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.link:hover {
    box-shadow: 5px 5px 18px #444444;
}

.link:active {
    box-shadow: none;
}

.link-icon {
    width: 100%;
    height: 100%;

    padding: 50px;
}