@font-face {
    font-family: "Tilt Neon";
    src: url("assets/TiltNeon-Regular.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: 'Tilt Neon';
    color: white;
}

.blurslider {
    width: 100%;
    height: 100%;
    margin-top: 0%;

    animation: 1s slide-up;

    backdrop-filter: blur(10px);
}


@keyframes slide-up {
    from {
        margin-top: 100%;
        height: 100%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.greeting {
    width: 100%;
    height: 90%;

    text-align: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    margin: 0%;
    font-size: 220px;

    opacity: 0;

    animation: 0.5s fade-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.date {
    margin: 0%;
    font-size: 100px;

    opacity: 0;

    animation: 0.5s fade-in;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}